[package]
name = "velo-cas"
description = "Content-Addressable Storage for Velo Rift"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
blake3.workspace = true
thiserror.workspace = true
memmap2.workspace = true

[dev-dependencies]
tempfile = "3.14"
